/* Imports */
@use "base/reset";
@use "base/typography";
@use "base/variables";

@use "components/buttons";
@use "components/cards";

@use "layout/flexbox";
@use "layout/spacing";

/* Define all CSS variables */
:root {
  // Spacing
  --spacing-xxs: #{variables.$spacing-xxs};
  --spacing-xs: #{variables.$spacing-xs};
  --spacing-sm: #{variables.$spacing-sm};
  --spacing-md: #{variables.$spacing-md};
  --spacing-lg: #{variables.$spacing-lg};
  --spacing-xl: #{variables.$spacing-xl};
  --spacing-xxl: #{variables.$spacing-xxl};

  // Margins
  --margin-xxs: var(--spacing-xxs);
  --margin-xs: var(--spacing-xs);
  --margin-sm: var(--spacing-sm);
  --margin-md: var(--spacing-md);
  --margin-lg: var(--spacing-lg);
  --margin-xl: var(--spacing-xl);
  --margin-xxl: var(--spacing-xxl);

  // Padding
  --padding-xxs: var(--spacing-xxs);
  --padding-xs: var(--spacing-xs);
  --padding-sm: var(--spacing-sm);
  --padding-md: var(--spacing-md);
  --padding-lg: var(--spacing-lg);
  --padding-xl: var(--spacing-xl);
  --padding-xxl: var(--spacing-xxl);

  // Font Size
  --font-size-xxs: #{variables.$font-size-xxs};
  --font-size-xs: #{variables.$font-size-xs};
  --font-size-sm: #{variables.$font-size-sm};
  --font-size-md: #{variables.$font-size-md};
  --font-size-lg: #{variables.$font-size-lg};
  --font-size-xl: #{variables.$font-size-xl};
  --font-size-xxl: #{variables.$font-size-xxl};
}

body {
  div {
    background-color: pink;
  }

  h1 {
    color: blue;
  }

  p {
    color: green;
  }
}
