/* Set body font */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Set headings font */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, Arial, sans-serif;
}

/* Font Size */
.fs-xxs {
  font-size: var(--font-size-xxs);
}
.fs-xs {
  font-size: var(--font-size-xs);
}
.fs-sm {
  font-size: var(--font-size-sm);
}
.fs-md {
  font-size: var(--font-size-md);
}
.fs-lg {
  font-size: var(--font-size-lg);
}
.fs-xl {
  font-size: var(--font-size-xl);
}
.fs-xxl {
  font-size: var(--font-size-xxl);
}
