/* Spacing varibles to be used for margins and padding */
$spacing-xxs: 0.25rem;
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 4rem;
$spacing-xl: 6rem;
$spacing-xxl: 8rem;

/* Font size variables to be used for font sizes */
$font-size-xxs: 0.5rem;
$font-size-xs: 0.75rem;
$font-size-sm: 1rem;
$font-size-md: 1.25rem;
$font-size-lg: 1.5rem;
$font-size-xl: 1.75rem;
$font-size-xxl: 2rem;
