/* Margins */
.m-xxs {
  margin: var(--margin-xxs);
}
.m-xs {
  margin: var(--margin-xs);
}
.m-sm {
  margin: var(--margin-sm);
}
.m-md {
  margin: var(--margin-md);
}
.m-lg {
  margin: var(--margin-lg);
}
.m-xl {
  margin: var(--margin-xl);
}
.m-xxl {
  margin: var(--margin-xxl);
}

/* Padding */
.p-xxs {
  padding: var(--padding-xxs);
}
.p-xs {
  padding: var(--padding-xs);
}
.p-sm {
  padding: var(--padding-sm);
}
.p-md {
  padding: var(--padding-md);
}
.p-lg {
  padding: var(--padding-lg);
}
.p-xl {
  padding: var(--padding-xl);
}
.p-xxl {
  padding: var(--padding-xxl);
}
